// Custom styles for the Mascara page
$mascaraplum: #86456f;

.content-wrapper {
  .sectionRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0 40px 0;
    padding: 0;
  }
  .sectionRow.-wrap {
    flex-wrap: wrap;
  }
  h2 {
    text-align: center;
  }
  h4 {
    // margin-top: 2rem;
    margin-bottom: 0;
  }
  h6 {
    margin: 40px 0;
  }
  .btn {
    color: #FFF;
    background-color: darken($mascaraplum, 4%);
    padding: 8px 24px;

    &:hover {
      background-color: lighten($mascaraplum, 2%);
    }
  } // btn
  .linkCTA {
    color: darken($mascaraplum, 4%);

    &:hover {
      color: lighten($mascaraplum, 2%);
    }
  } // linkCTA
  .width50 {
    width: 50%;
  }
  .clearfix {
    @include clearfix;
  }
} //content-wrapper

.slmCopy, .chooseMpp-text {
  text-align: right;
}

.slmText, .mppText {
  padding-top: 8%;
}
.slmText {
  padding-left: 4%;
}
.mppText {
  padding-right: 4%;
}
.chooseMpp-img {
  margin-top: -30%;
}

#differences {
  display: inline-block;

  .differences-img {
    // position: absolute;
    width: 50%;
  }
  .differencesText-l {
    float: left;
    width: 30%;
    padding-left: 3%;
  }
  .differencesText-r {
    float: right;
    width: 30%;
    padding-right: 3%;
  }
} // differences

#beforeAfter {
  .beforeAfter-title {
    width: 100%;
  }
  .beforeAfter-l, .beforeAfter-r {
    flex-direction: column;
    // align-items: center;
  }
  .beforeAfter-text {
    width: 40%;
    margin: 0 auto;
  }
} // remove
