// Custom styles for the Mascara page
$mascaraplum: #86456f;

.content-wrapper {
  .sectionRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0 4rem 0;
    padding: 0;
  }
  .sectionRow.-wrap {
    flex-wrap: wrap;
  }
  h1 {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  h2 {

  }
  h4 {
    // margin-top: 2rem;
    margin-bottom: 0;
  }
  h5 {
    margin: 1rem 0 2rem 0;
  }
  h6 {
    margin: 4rem 0;
  }
  .btn {
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: 1px solid $gray700;
    font-size: 16px;
    font-weight: 400;
    background-color: $gray700;
    padding: 8px 24px;

    &:hover {
      background-color: $gray600;
    }
  } // btn
  .linkCTA {
    color: darken($mascaraplum, 4%);

    &:hover {
      color: lighten($mascaraplum, 2%);
    }
  } // linkCTA
  .width50 {
    width: 50%;
  }
  .clearfix {
    @include clearfix;
  }
} //content-wrapper

.introText {
  padding-right: 10%;
}

.slmCopy, .chooseMpp-text {
  text-align: right;
}

.slmText, .mppText {
  padding-top: 8%;
}
.slmText {
  padding-left: 4%;
}
.mppText {
  padding-right: 4%;
}

#differences {

  position: relative;

  .differences-img {
    margin-top: 0;
    float: left;
    width: 50%;
    display: inline-block;
  }
  .differencesText-l {
    position: absolute;
    top: 1%;
    left: 3%;
    width: 30%;
  }
  .differencesText-r {
    position: absolute;
    top: 1%;
    right: 3%;
    width: 30%;
  }
} // differences

#beforeAfter {
  .beforeAfter-title {
    width: 100%;
  }
  .beforeAfter-l, .beforeAfter-r {
    flex-direction: column;
    // align-items: center;
  }
  .beforeAfter-text {
    width: 40%;
    margin: 0 auto;
  }
} // remove
